#root {
 
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 2px solid #2eb127;
  perspective: 1000px; /* 3D flipping effect */
  border-radius: 50%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  align-items: center;
  background-color: #97ce4c;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  color: white;
  transform: rotateY(180deg);

}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.card-title {
  font-size:20px
}

.card-button {
  padding: 5px 15px;
}

h1 {
  color: #2eb127;
  margin-top: 15px;
}



.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.top-banner {
  background-color: #97ce4c;
  height: 80px;
  display: flex;
  justify-content: center;
  
}


.search-container {
  
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  position: relative;
 
}



.modal-div {
  outline: 2px solid #2eb127 ;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 5px;
  color: #2eb127;

}

.modal-pic {
  border-radius: 10%;
}


.bottom-container {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pag-button {
  background-color: white;
  border-radius: 50%;
  border: solid 2px #97ce4c;
  color: #97ce4c;
  display: inline-block;
  font-size: 16px;
  padding: 10px 25px;
  text-align: center;
  transition-duration: 0.4s;
}

.pag-button:hover {
  background-color:#97ce4c;
  color: white;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  height: 200px;
  width: 200px;

  
}

.logo:hover {
  transform: rotate(360deg); transition: 1.5s
}
  /* 

@keyframes myAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
